<!--
  # Create form with the following Controls and Validators
  1) Project Name (not empty)
  2) Mail (not empty, mail must be valid - custom validator)
  3) Project Status Dropdown - 3 values [Stable, Critical, Finished]
  
  * Add your own validator which does not allow test as a Project Name
  ** Also implement that validatoe as an async Validator (old one must be replaced - commented out)
  *** Upon submiting the form, simply print the value of the form to the console.
-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form>
        <button class="btn btn-warning">Button</button>
          <!-- My form here-->
      </form>
    </div>
  </div>
</div>
